$color-primary: #0893d9;
$color-primary-dark: #228fc5;
$color-primary-light: #47b0e5;
$color-grey-dark: #777;

$color-grey-light-1:#f7f7f7;
//$color-grey-light-1:#363636;

$color-grey-dark: #363636;
$color-white: #fff;
$color-black:#000;

//FONT
$default-font-size: 1.6rem;

// GRID

$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
