
.header {
	
	z-index: 99999;
	height: 100vh;
	background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-dark, 0.8)),
		url(../img/notebook.jpg);
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	//background-position: top;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;
	width: 100%;
	

	&-primary {
		//display: none;
		min-height: 100vh;
		width: $grid-width;
		margin: 0 auto;
		//position: relative;
		overflow: hidden;
		

		&--main {
			height: 9.1rem;
			width: 38.3em;
			margin: 12rem auto 3.2rem;
			background-image: url(../img/heading-title.png);
			background-repeat: no-repeat;

			// &__img {
			// 	max-width: 100%;
			// 	height: auto;
			// }
		}

		&--sub {
			opacity: 0.9;

			height: 100vh;
			background-image: url(../img/notebook-meduim.png);
			background-position: top;
			background-size: cover;
			width: 100%;
			overflow: hidden;
			display:inline-block;

			-webkit-box-shadow: 1px 0px 15px 4px #000000;
            box-shadow: 1px 0px 15px 4px #000000;
            
            &__title{
           
                padding-top: 2.5rem;
                font-size: 9rem;
                font-family: "Arial", sans-serif;
                font-weight: bold;
                color: $color-white;
                text-align: center;
                line-height: 7.8rem;
                width: 30%;

                &span{
 
                    display: block;
                }

            }
		}
		
	}
}

.secondmain{
	//display: none;
	
	height: 25rem;
	max-width: 90%;
	margin: 0 auto  10rem;

	padding: 2rem 0 5rem;
	text-align: center;

	 p {
		background-position:top;
		background-repeat: no-repeat;
		background-image: url(../img/look-good.png);
		width: 100%;
		margin: 0 auto 5rem;
		font-size: 2rem;
		font-family: arial,sans-serif;
		padding:6rem 0 8rem;
		
		color:#fff;
	}
}



@media screen and (max-width: 1200px){
	.header-primary{
     width: 90em;
	}
	.header-primary--sub__title{
	   font-size: 6rem;
	   line-height: 6rem;
	}
	.header-primary--sub{
		
		height: 95vh;
	}
}

@media screen and (max-width: 1000px){
	.header-primary{
      width: 75em;
	}
	.header-primary--sub__title{
	   font-size: 6rem;
	   line-height: 6rem;
	}
	.header-primary--sub{
		background-image: url(../img/notebook640.jpg);
		height: 95vh;
	}
	.secondmain {
       p{
		background-image: url(../img/look-good-medium.png);
		font-size:1.5rem;
	   }
	}
}

@media screen and (max-width: 600px){
	
	.secondmain {
		padding-bottom:0;
		margin-bottom:0;
       p{
		background-image: url(../img/look-good-small.png);
		font-size:1.25rem;
		padding-top:3rem;
	   }
	}
}