.nav {
	width: 100%;
	height: 60px;
	//background: #0893d9;
	background-image:linear-gradient(to right top, rgba($color-grey-dark-slates, 1), rgba($color-grey-dark-slate, 1));

}

.navbar {
	width: 1140px;
	margin: 0 auto;
	padding: 0;
	height: 60px;
}
.navbar-nav {
	display: flex;
	justify-content: center;
}

.navbar-nav .navbar__link {
	text-decoration: none;
	color: $color-white;
	line-height: 60px;
	display: inline-block;

	align-items: center;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 17px;
	padding: 0 60px;
}
.navbar-nav .navbar__link:hover {
	//background: $color-grey-dark;
	background-image:linear-gradient(to right bottom, rgba($color-primary, 1), rgba(#2998ff, 1));

}

.logo {
	margin: 0 20px;
}
